# file options

--exclude Carthage,Pods,.swiftpm,./ios/Classes/messages.g.swift

# format options

--allman false
--commas always
--elseposition same-line
--header ignore
--ifdef indent
--indent 4
--importgrouping testable-bottom
--linebreaks lf
--maxwidth 200
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--stripunusedargs closure-only
--swiftversion 5.9
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--typeblanklines remove

# rules

--disable strongOutlets, docComments
--enable isEmpty,blockComments
