# file options

--exclude Carthage,Pods,.swiftpm,ios/**/messages.g.swift,example/ios/Flutter/**

# format options

--allman false
--commas always
--else-position same-line
--header ignore
--ifdef indent
--indent 2
--import-grouping testable-bottom
--linebreaks lf
--max-width 120
--operator-func spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--strip-unused-args closure-only
--swiftversion 5.9
--trim-whitespace always
--type-blank-lines remove
--wrap-arguments preserve
--wrap-collections preserve
--wrap-conditions preserve
--hex-grouping none

# rules

--enable isEmpty
--enable blankLinesBetweenImports
--enable blockComments
--enable environmentEntry
--enable noGuardInTests
--enable preferFinalClasses
--enable privateStateVariables
--enable redundantMemberwiseInit
--enable redundantAsync
--enable redundantProperty
--enable redundantThrows
--enable throwingTests
--enable wrapMultilineFunctionChains
--enable wrapMultilineStatementBraces
--enable noForceUnwrapInTests
