name: flutter_custom_tabs_ios
description: iOS platform implementation of flutter_custom_tabs.
version: 2.0.0
repository: https://github.com/droibit/flutter_custom_tabs/tree/main/flutter_custom_tabs_ios
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  # flutter_custom_tabs_platform_interface: ^2.0.0
  flutter_custom_tabs_platform_interface:
    path: ../flutter_custom_tabs_platform_interface
  meta: ^1.10.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  pigeon: ^17.0.0

flutter:
  plugin:
    implements: flutter_custom_tabs
    platforms:
      ios:
        pluginClass: GDBCustomTabsPlugin
        dartPluginClass: CustomTabsPluginIOS
