name: flutter_custom_tabs_android_example
description: Demonstrates how to use the flutter_custom_tabs_android plugin.
publish_to: 'none'

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_custom_tabs_android:
    path: ../
  dynamic_color: ^1.6.7

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

