name: flutter_custom_tabs_ios_example
description: Demonstrates how to use the flutter_custom_tabs_ios plugin.
publish_to: 'none'

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_custom_tabs_platform_interface: ^2.0.0-beta
  flutter_custom_tabs_ios:
    path: ../
  cupertino_icons: ^1.0.2

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
