  
name: CI for platform interface package

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'flutter_custom_tabs_platform_interface/**'
      - '!**.md'
  pull_request:
    paths:
      - 'flutter_custom_tabs_platform_interface/**'
      - '!**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - name: Get flutter dependencies
      run: flutter pub get
      working-directory: ./flutter_custom_tabs_platform_interface
    - name: Check for any formatting issues in the code
      run: dart format --set-exit-if-changed .
      working-directory: ./flutter_custom_tabs_platform_interface
    - name: Statically analyze the Dart code for any errors
      run: flutter analyze .
      working-directory: ./flutter_custom_tabs_platform_interface
    - name: Run unit tests
      run: flutter test
      working-directory: ./flutter_custom_tabs_platform_interface